.duration-popover__container {
  display: inline-block;

  .duration-popover__overlay {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .duration-popover__select {
    @extend .bg-base;
    background-color: var(--dp24);
    z-index: 2;
    position: absolute;
    right: 0;
    width: 340px;
    box-shadow: $box-shadow-light-3;
    border-radius: $border-radius;
  }
}
