.invoice-box {
  margin: auto;
  padding: 30px;
  box-shadow: $box-shadow-light-1;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
    color: $dark;
  }
  .table {
    color: $dark;
  }
  .invoice-box {
    box-shadow: none;
  }
}

.remove-invoice-row {
  position: absolute;
  right: -30px;
  top: 10px;
}
